include ../partials/bem
doctype html
html
  head
    block head_end
    include ../partials/head
  body
    include ../partials/nav
    block content
    block body_end
    block scripts
      script(src="/js/jquery.js")
      script(src="/js/tweenMax.js")
      script(type="text/javascript" src="js/scripts.js")