include ../../bemto/bemto.pug
include ../blocks/_all

doctype html
html
  head
    block head_end
    include ../partials/head
  body

    block content
    block body_end
    block scripts
      script(src="/js/jquery.js")
      script(src="/js/tweenMax.js")
      script(src="/js/barba.js")
      script(type="text/javascript" src="js/scripts.js")
