extends templates/layouts/_layout


block content

   +b_nav(true)
   +b(id='barba-wrapper')
      +b(data-namespace='history').barba-container 
         +b.timeline.h
            +e.year Timeline
               span 1960s
            +e.text The term "brutalism" was originally coined by the Swedish architect Hans Asplund to describe Villa Göth in Uppsala, designed in 1949 by his contemporaries Bengt Edman and Lennart Holm.
         +b.wrap.h
            +e.gallery
            +e.content-right
               +e.first-column
                  +e('h1').h1-title History of brutalism
               +e.second-column
                  +e.digits /02
                  +e('img').pic-1(alt="img" src='/images/3/pic_1.jpg')
                  +e.hr
                  +e('p').name Le Corbusier
                     span 1887 – 1965
                  +e('p').cons-text In the case of the "brick brutalists," ruggedly combine detailed brickwork and concrete.
               +e.third-column
                  +e.text
                     +e('p').plain-text The term "brutalism" was originally coined by the Swedish architect Hans Asplund to describe Villa Göth in Uppsala, designedin 1949 by his contemporaries Bengt Edman and Lennart Holm.
                     +e('p').cons-text He originally used the Swedish-language term nybrutalism (new brutalism), which was picked up by a group of visiting English architects, including Michael Ventris. In England, the term was further adopted by architects Alison and Peter Smithson.
                     +e('p').cons-text The term gained wide currency when the British architectural historian Reyner Banham used it in the title of his 1966 book, The New Brutalism: Ethic or Aesthetic? The best known proto Brutalist architecture