extends _layouts/home

block content

	div(class="white-line")
	div(class="intro")
		div(class="intro-text")
			p(class="intro-info") Habitat 67, Montreal, Quebec (Moshe Safdie, 1967)	
			h1 Brutalism
	


block body_end
	script(type="text/javascript" src="/js/script.js")