.wrap
   width: 100vw
   position: fixed
   height: 100vh
   display: flex
   justify-content: space-between
   &__plain-text
      font-family: 'texgyreherosbold'
      font-size: 1em
   &__cons-text
      font-family: 'Consolas'
      font-weight: bold
      font-size: 12px
      line-height: 1.5
      margin-top: 10px
   &__gallery
      background-image: url(/images/2/gallery_1.jpg)
      height: 100%
      opacity: 0
      background-repeat: no-repeat
      background-size: cover
   &__content-right
      width: 50%
      display: flex
      justify-content: space-between
      padding-right: 87px
      padding-top: 5vh
   &__name
      font-family: 'texgyreherosbold'
      padding-top: 10px
      line-height: 1
      span 
            font-family: 'Consolas'
            font-weight: bold
            font-size: 12px
            display: inline-block
            line-height: 1
   &__hr
      width: 100%
      background-color: #dcdcdc
      height: 7px
      box-shadow: none
      margin-top: 4vh
   &__h1-title
      transform: rotate(90deg)
      font-family: 'texgyreherosbold'
      color: black
      font-size: 2em
      text-align: left
      position: relative
      top: 7px
   &__digits
      color: #e3e3e3
      font-size: 8em
      font-family: 'texgyreheroscnbold'
      text-align: right
      line-height: 1
      margin-top: -17px
      margin-bottom: 7vh
   &__first-column
      width: 18%
   &__third-column
      position: relative
   &__second-column,
   &__third-column
      padding: 0 10px
.timeline
      position: fixed
      display: flex
      bottom: 0px
      height: 100px
      background-color: #282828
      z-index: 9
      margin-left: 7vw
      max-width: 60vw
      color: white
      opacity: 0
      margin-bottom: -60px
      padding: 30px 30px 30px 60px
      align-items: center
      justify-content: space-between
      &__year
            font-family: 'Consolas'
            font-size: 11px
            line-height: .9
            span
                  display: block
                  font-size: 4em
                  font-family: 'texgyreheroscnbold'
      &__text
            padding-left: 40px
            font-family: 'Consolas'
            font-size: 13px
            line-height: 1.1


