// 00 Main
.intro-bg
    background-image: url(/images/bg_1.jpg)
    background-size: 100%
    background-position: 50% 50%
    background-repeat: no-repeat
    -ms-transform: scale(0.9)
    transform: scale(0.9)
    height: 130vh
    z-index: -4
    position: fixed
    top: -155px
    width: 123%
    left: -220px
    overflow: hidden
//     transition: all 1s ease
.intro
   width: 100vw
   height: 100vh
   display: flex
   justify-content: center
   align-items: center
   background: transparent
   &__intro-text
      overflow: hidden
      line-height: .9
      height: 12em
   &__h1-title
      text-align: center
      font-size: 12em
      color: white
      font-family: 'texgyreherosbold'
      line-height: 1
      bottom: -161px
      position: relative
   &__intro-info
      position: absolute
      color: rgba(255, 255, 255, 0.15)
      font-family: 'Consolas'
      top: 13%
      padding-left: 57px
      opacity: 0
.white-line
   height: 0vh
   background-color: rgba(255, 255, 255, 0.1)
   width: 29vw
   position: absolute
   left: 23%