.navigation
      position: absolute
      right: 0px
      z-index: 9999
      &__menu
            height: 100vh
            display: flex
            flex-direction: column
            justify-content: space-around
      &__menu_w
            background-color: white !important
            height: 100vh
            display: flex
            flex-direction: column
            justify-content: space-around

.menu-link span 
      font-size: 10px
      position: relative
      top: -6px
      left: -1px
.menu-link
      text-decoration: none
      color: white
.menu-item
      transform: rotate(90deg)
      text-align: center
      font-family: 'Consolas'
      font-size: 12px
.navigation__menu_w .menu-item
      color: black !important