.navigation
      position: absolute
      right: 0px
.menu
   height: 100vh
   display: flex
   flex-direction: column
   justify-content: space-around
.menu-link
   text-decoration: none
   transform: rotate(90deg)
.menu-item
   color: white
   text-align: center
   font-family: 'Consolas'
   font-size: 12px